@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Open+Sans:wght@100;200;300;400;500&family=Roboto:wght@100;200;300;400;500&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  background: rgb(62, 62, 62);
}
